.feature-card-container::-webkit-scrollbar {
  display: none;
}

section.hero form.submitted {
  display: none;
}

section.hero .form-feedback {
  display: none;
}

section.hero .form-feedback.submitted {
  display: block;
}

@media (min-width: 1064px) {
  .feature-card-container {
    padding-left: calc((100vw - 1024px)/2);
  }
 }
